In [29]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [3]:
type(df)

pandas.core.frame.DataFrame

In [6]:
#For each value, count the difference back to the previous zero (or the start of the Series, whichever is closer)
#create column Y
len(df['X'])

10

In [21]:
df

   X
0  7
1  2
2  0
3  3
4  4
5  2
6  5
7  0
8  3
9  4

In [25]:
y =[]
#while(i<len(df['X'])):
#    if df.iloc[i] == 0 or i == 0:
zero_count = 0 
i = 0
for item in df['X']:
    if item != 0:
        zero_count += 1
    else:
        zero_count = 0
    y.append(zero_count)
print(y)

[1, 2, 0, 1, 2, 3, 4, 0, 1, 2]

In [26]:
df['Y'] = y

In [27]:
df

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

In [ ]:
#2:Create a DatetimeIndex that contains each business day of 2015 and  use it to index a Series of random numbers.

In [31]:
dt_index = pd.date_range(start='2015-01-01', end='2015-12-31', freq='B') 
rand_series = pd.Series(np.random.rand(len(dt_index)), index=dt_index)
rand_series.shape

(261,)

In [33]:
type(dt_index)

pandas.core.indexes.datetimes.DatetimeIndex

In [35]:
rand_series[dt_index.weekday == 2].count()

52

In [ ]:
#3:Find the sum of the values in s for every Wednesday

In [36]:
rand_series[dt_index.weekday == 2].sum()

25.82117378337116

In [ ]:
#4:Average For each calendar month

In [37]:
rand_series.resample('M', how='mean')

C:\Users\siddam\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).mean()
  """Entry point for launching an IPython kernel.

2015-01-31    0.504752
2015-02-28    0.458277
2015-03-31    0.541958
2015-04-30    0.519575
2015-05-31    0.526558
2015-06-30    0.529259
2015-07-31    0.507004
2015-08-31    0.473336
2015-09-30    0.493637
2015-10-31    0.528149
2015-11-30    0.569912
2015-12-31    0.498225
Freq: M, dtype: float64

In [ ]:
#5:For each group  of four consecutive calendar months in s, find the  date on which the highest value occurred.

In [38]:
rand_series.groupby(pd.TimeGrouper('4M')).idxmax()

2015-01-31   2015-01-15
2015-05-31   2015-04-03
2015-09-30   2015-07-02
2016-01-31   2015-11-20
Freq: 4M, dtype: datetime64[ns]